.events-img{
    padding-top: 1rem;
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    color: white;
}

.visit-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: .5rem;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}
iframe{
    margin-top: 2rem;
}
/* .contact-list{
    width: 100px;
    color: white;
} */

.delivery{
    display: flex;
    width: 100%vw;
    background-color: dimgrey;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.delivery-btn{
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    /* height: rem; */
    border-radius: 30px;
    font-size: 2rem;
    font-family: Montserrat;
    border-color: red;
    background-image: url(/img/footer/orange-background.jpg);
    align-items: center;
    box-shadow: 3px 3px rgb(79, 35, 35);
    
}

.moto-delivery{
    width: 6rem;
}