.events-img{
    padding-top: 1rem;
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    color: white;
}

.visit-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: .5rem;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    text-align: center;
}
iframe{
    margin-top: 2rem;
}
/* .contact-list{
    width: 100px;
    color: white;
} */

.delivery{
    display: flex;
    width: 100%vw;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.delivery-btn{
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    border-radius: 30px;
    font-size: 2rem;
    font-family: Montserrat;
    border-color: red;
    background-image: url('../img/footer/orange-background.jpg');
    align-items: center;
    box-shadow: 3px 3px rgb(79, 35, 35);
    
}

.moto-delivery{
    width: 6rem;

}

@media only screen and (min-width: 1024px) {
    .visit-container{
        font-size: 1.3rem;
        gap: 2em;
        padding: 0;
        

    }
    
    .address-container{
        margin-top: 2.2rem;
    }
    
    iframe{
        width: 300px;
        height: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .visit-container{
        flex-direction: row;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;

    }
  }