/* gallery */

.grid {
    padding: 1em;
}

.grid-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
    padding: 3em;
}

.item {
    flex: 1 1 100%;
    padding: 0.5em;
}

.item-inner {
    background-size: cover;
    background-image: url(../img/gallery/fun1.jpg);
    padding-top: calc(100% / (16/9));
}

.item:nth-child(2) .item-inner {
    background-image: url(../img/gallery/fun2.jpg);
}

.item:nth-child(3) .item-inner {
    background-image: url(../img/gallery/fun3.jpg);
}

.item:nth-child(4) .item-inner {
    background-image: url(../img/gallery/fun4.jpg);
}

.item:nth-child(5) .item-inner {
    background-image: url(../img/gallery/fun5.jpeg);
}

.item:nth-child(6) .item-inner {
    background-image: url(../img/gallery/fun9.jpeg);
}

.item:nth-child(7) .item-inner {
    background-image: url(../img/gallery/fun10.jpeg);
}

.item:nth-child(8) .item-inner {
    background-image: url(../img/gallery/fun15.jpeg);
}

.item:nth-child(9) .item-inner {
    background-image: url(../img/gallery/fun14.jpeg)
}

.item:nth-child(10) .item-inner {
    background-image: url(../img/gallery/fun11.jpeg);
}


/* .item:nth-child(11) .item-inner {
    background-image: url(../img/gallery/fun10.jpeg);
} */


/* .item:nth-child(12) .item-inner {
    background-image: url(../img/gallery/fun9.jpeg);
} */

@media screen and (min-width: 480px) {
    .item {
        flex: 1 1 50%;
    }
}

@media screen and (min-width: 768px) {
    .item {
        flex: 1 1 33.333%;
    }
}

@media screen and (min-width: 980px) {
    .item {
        flex: 1 1 25%;
    }
}
